mixin goodsTileOpenPreview(imgSrc, title, category, price, rate)
  article.b-product__article
    .b-product__img
      a.show-review(href='#')
        img(src="#{imgSrc}")
    .b-product__ttl
      a.b-product__ttl-link(href="#") #{title}
    .b-product__cat
      a.b-product__cat-link(href="#") #{category}
    .b-product__price
      .b-product__cash #{price}
      .b-product__buy Добавить в корзину
    .b-product__rating
      .b-product__stars(data-rate-value="#{rate}")
      .b-product__comments
        a.b-product__comments-link(href="#") 78 отзывов
