//- Mixins for all tiles of goods

mixin goodsBlock(ttl, img, prc, rank)
  .b-goods
    .b-goods__img-wrap
      a(href="#", rel="nofollow")
        img(src="img/products/#{img}" alt="photo product")
    .b-goods__ttl
      a(href="#") #{ttl}
    ul.b-goods__price.b-goods__price--inline
      li #{prc} #[strong &#8372;]
      li.b-goods__add-cart: a(href="#").ajax_add_to_cart_button В корзину
    .b-goods__link-wrap
      a(href="#", rel="nofollow") #{rank}


mixin goodsBlockTile(ttl, img, category, price, oldPrice, label)
  //-Плашка товара квадратная
  .b-goods.b-goods--tile
    .b-goods__img-wrap
      a(href="#", rel="nofollow")
        .b-goods__fast-view Быстрый просмотр
        if (typeof label != 'undefined')
          if (label == 'new')
            span.b-goods__label.b-goods__label--black #{label}
          if (label == 'top')
            span.b-goods__label.b-goods__label--active #{label}
          if (label == '20')
            span.b-goods__label.b-goods__label--bd #{label}%
        img(src="../img/products/#{img}" alt="photo product")
    .b-goods__bd
      .b-goods__bd-top
        .b-goods__ttl
          a(href="#") #{ttl}
        .b-goods__category
          a(href="") #{category}
      .b-goods__sum
        if (oldPrice != false)
          .b-goods__sum-price--old #{oldPrice}
        .b-goods__sum-price #{price}

mixin goodsBlockTileSlide(ttl, img, category, price, oldPrice, mass)
  //-Плашка товара в слайдере
  .b-goods.b-goods--tile
    .b-goods__img-wrap
      a(href="http://dubrava.makebecool.pro/themes/ps360/html/cart-goodsBoxedDubrava.html", rel="nofollow")
        .b-goods__fast-view Быстрый просмотр
        img(src="../img/products/#{img}" alt="photo product")
    .b-goods__bd
      .b-goods__bd-top
        .b-goods__ttl
          a(href="#") #{ttl}
        .b-goods__category
          a(href="") #{category}
      .b-goods__sum
        if (oldPrice != false)
          .b-goods__sum-price--old #{oldPrice}
        .b-goods__sum-price #{price}
        .b-goods__mass #{mass}

mixin tilesGoodsLg(ttl, img, prc, rank, cls)
  .b-goods__tile(class="#{cls}")
    .b-goods__ttl
      a(href="#") #{ttl}
    ul.b-goods__price.b-goods__price--inline
      li #{prc} #[strong &#8372;]
      li.b-goods__add-cart: a(href="#").ajax_add_to_cart_button В корзину
    .b-goods__link-wrap
      a(href="#", rel="nofollow") #{rank}
    .b-goods__tile__img-wrap.bg-image(data-bgimage="img/products/#{img}")
      a(href="#", rel="nofollow")


