//- Mixins for all tiles of goods inner page

mixin goodsBlockWish(ttl, img, prc, rank)
  .b-goods
    .b-goods__img-wrap
      a(href="#", rel="nofollow")
        img(src="img/products/#{img}" alt="photo product")
      .b-goods__ratings-wrap
        ul.star_content
          li.active
          li.active
          li.active
          li
          li
        p.comments (#[span 8] отзывов)
    .b-goods__ttl
      a(href="#") #{ttl}
    ul.b-goods__price
      li #{prc} #[b &#8372;]
      li.b-goods__add-cart: a(href="#").ajax_add_to_cart_button В корзину
    .b-goods__link-wrap
      a(href="#", rel="nofollow") #{rank}
    .b-goods__footer
      .b-goods__wish-wrap
        a(href="#", title="в желания").btn.btn-wish--sm #[span в желания]
      .b-goods__compare-wrap
        a(href="#", title="к сравнению").btn.btn-compare--sm #[span к сравнению]


mixin goodsBlockNotAvailable(ttl, img, prc, rank, status)
  .b-goods
    .b-goods__img-wrap
      a(href="#", rel="nofollow")
        img(src="img/products/#{img}" alt="photo product")
      .b-goods__ratings-wrap
        ul.star_content
          li.active
          li.active
          li.active
          li
          li
        .comments
          p (#[span 8] отзывов)
    .b-goods__ttl
      a(href="#") #{ttl}
    ul.b-goods__price.b-goods__price--notavailabel
      li #{prc} #[b &#8372;]
      li.b-goods__notavailabel: a(href="#").ajax_not_availabel Сообщить о поступлении
      li.b-goods__price-last #{status}
    .b-goods__link-wrap
      a(href="#", rel="nofollow") #{rank}

mixin goodsCabWish(ttl, img, prc, rank)
  .b-goods
    .b-goods__img-wrap
      a(href="#", rel="nofollow")
        img(src="img/products/#{img}" alt="photo product")
      .b-goods__ratings-wrap
        ul.star_content
          li.active
          li.active
          li.active
          li
          li
        p.comments (#[span 8] отзывов)
    .b-goods__ttl
      a(href="#") #{ttl}
    ul.b-goods__price
      li #{prc} #[b &#8372;]
      li.b-goods__add-cart: a(href="#").ajax_add_to_cart_button В корзину
    .b-goods__link-wrap
      a(href="#", rel="nofollow") #{rank}
    .b-goods__footer
      .b-goods__wish-wrap
        a(href="#", title="из желаний").btn.btn-wish--sm #[span из желаний]
      .b-goods__compare-wrap
        a(href="#", title="к сравнению").btn.btn-compare--sm #[span к сравнению]
