head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
  title #{pageTitle}
  meta(name="description", content="")
  link(rel="shortcut icon", href="images/iconsite/favicon.ico")
  link(rel="dns-prefetch", href="http://www.google-analytics.com")
  link(rel="author", href="humans.txt")
  meta(name="twitter:site", content="")
  meta(name="twitter:creator", content="makebecool")
  meta(name="twitter:title", content="#{pageTitle}")
  meta(name="twitter:description", content="")
  meta(name="twitter:image:src", content="")
  meta(property="og:url", content="")
  meta(property="og:type", content="website")
  meta(property="og:title", content="#{pageTitle}")
  meta(property="og:image", content="")
  meta(property="og:description", content="")
  meta(property="og:site_name", content="")
  meta(name="mobile-web-app-capable", content="yes")
  meta(name="apple-mobile-web-app-capable", content="yes")
  meta(name="format-detection", content="telephone=no")
  meta(name="apple-mobile-web-app-status-bar-style", content="black")
  meta(name="apple-mobile-web-app-title", content="")
  meta(name="application-name", content="#{pageTitle}")
  meta(name="msapplication-TileColor", content="")
  meta(name="msapplication-square70x70logo", content="images/iconsite/msapplication-square70x70logo.png")
  meta(name="msapplication-square150x150logo", content="images/iconsite/msapplication-square150x150logo.png")
  meta(name="msapplication-wide310x150logo", content="images/iconsite/msapplication-wide310x150logo.png")
  meta(name="msapplication-square310x310logo", content="images/iconsite/msapplication-square310x310logo.png")
  meta(name="cmsmagazine", content="")
  meta(name="it-rating", content="")
  link(rel="apple-touch-icon", href="images/iconsite/apple-touch-icon.png")
  link(rel="apple-touch-icon", sizes="76x76", href="images/iconsite/apple-touch-icon-ipad.png")
  link(rel="apple-touch-icon", sizes="120x120", href="images/iconsite/apple-touch-icon-iphone-retina.png")
  link(rel="apple-touch-icon", sizes="152x152", href="images/iconsite/apple-touch-icon-ipad-retina.png")
  link(rel="apple-touch-icon", sizes="180x180", href="images/iconsite/apple-touch-icon-iphone6plus-retina.png")
  link(rel="stylesheet", href="css/base64-fonts.css")
  link(rel="stylesheet", href="css/critical.css")